.Total_ammount{
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    height: 80px;
    border-radius: 10px;
    background: rgb(82, 90, 104);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.daily_total_income, .daily_payable_income{
    text-align: center;
  font-weight: bold;
}