.daily_income{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    height: 80px;
    border-radius: 10px;
    background: linear-gradient(270deg, #f3a143 0%, #fde663 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.daily_total_income, .daily_payable_income{
    text-align: center;
}